Battle.net

planetscale

XIVLauncher

configstore

gatsby

gh

grammarly-languageserver

htop

iterm2

karabiner

realm-cli

thefuck

yarn

alacritty

btop

tmuxinator

.DS_Store

github-copilot

qBittorrent

nvim.bak

tmux/plugins/
tmux/*.log

fish

mc

neofetch

zmk-config


